img#bg-photo {
  padding: 3em 0em 0em;
}

[class^="socicon-"], [class*=" socicon-"] {
  font-size: 4em;
}

li {
  list-style: none;
}

section#last-song {
  margin-top: 2em;
}

section#last-song h1 {
  margin-bottom: 1em;
}

section#album {
  margin: 5em 0;
}

section#album h2 {
  margin-bottom: 1em;
}

section#contact {
  margin-top: 4em;
}

#contact h2.text-center {
  margin-bottom: 1em;
}

#booking ul.row {
  margin-bottom: 3em;
}

#booking ul.row {
  padding-left: 9.5em;
}

#social-contact .block-social li {
  margin: 0 3em;
}

#social-contact a:hover {
  text-decoration: none;
}

#shows h2.text-center {
  margin: 0.8em 0;
}

.container.bad-bunny-shows {
  margin: 2em 0;
}

/*div#bio {
  margin-top: 5em;
  margin-bottom: 2em;
}*/
div#bio {
  margin-top: 5em;
}

div#bb-contact {
  padding: 5em 0;
}

.playlist {
  padding: 4em 0 0;
}

.row.apple-music {
  padding: 3em 0;
}

.featurette-divider {
  margin: 5rem 0;
}

@media (max-width: 767.98px) {
  #last-song h1.text-center {
    padding: 0 0 0.5em;
  }

  section#album {
    margin: 2em 0;
  }

  section#last-song h1 {
    margin-bottom: 0;
  }

  #shows h2.text-center {
    padding: 0.5em 0;
  }

  section#shows .col-md-4 {
    margin: 1em 0;
  }

  img#bg-photo {
    padding: 3.5em 0em 0em;
  }

  section#last-song {
    padding-top: 0;
  }

  #shows h3 {
    text-align: center;
  }

  img {
    width: 100%;
  }

  a.nav-link {
    margin: 3em 0;
  }

  li.nav-item {
    display: block;
    margin: 0 auto;
  }

  #shows .container {
    padding: 0 4em;
  }

  #shows .col-md-3 {
    padding: 0 0 4em;
  }

  div#navbarsExampleDefault {
    min-height: -webkit-fill-available;
  }

  #booking ul.row {
    margin: 0 5em;
    padding-left: 0;
  }

  .block-content .row {
    margin: 0 2em;
  }

  .block-social.list-inline {
    padding-left: 0.5em;
    list-style: none;
  }

  #social-contact .block-social li {
    margin: 0 2em;
    padding: 0.5em 0;
  }

  .playlist {
    padding: 4em 0 0;
  }

  .row.apple-music {
    padding: 0.9em 0;
  }
}
